<?xml version="1.0" encoding="utf-8" ?>
<!--DEMO Level : FATAL / ERROR -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<rules>
		<logger name="*" minlevel="ERROR" writeTo="ownFile-web-other" />
	</rules>

	<targets>
		<!--記事本-->
		<target xsi:type="File" name="ownFile-web-other" fileName="log\nlog-AspNetCore-own-${shortdate}.log"
				layout="${longdate} || ${level:uppercase=true} || ${logger} ${message}" />
		<!--Console-->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>
</nlog>